ID declarations override CLass declarations regardless of order

Yay! We just proved that in-line styles will override all the CSS declarations in your style element.

But wait. There's one last way to override CSS. This is the most powerful method of all. But before we do it, let's talk about why you would ever want to override CSS.

In many situations, you will use CSS libraries. These may accidentally override your own CSS. So when you absolutely need to be sure that an element has specific CSS, you can use !important





0 lowest F highest -> hexadecimal
High red RGB 00 00 00 FF 00 00 -> bright red

abbreiviated hex code 000 

rgb(0, 0, 0); 0 - 255

levels -> direct children #section > p

adjacent selector directly underneath element +

span[class] -> [] attribute selector 
div[id]

a[title]

span[class~="deck"] ~ deck to appear anywhere even if it has multiple classes

a[href$="pdf"] -> $ target end with .pdf
^ -> start with vs $ end with 

li:nth-child(1), li:nth-child(7){} -. zero based index

li:nth-child(even) can put a formula 

li:nth-of-type LI ignore other elements tags

n goes up in in increments from 0